[submodule ".local/share/mc/mc-solarized-skin"]
	path = .local/share/mc/mc-solarized-skin
	url = https://github.com/iwfmp/mc-solarized-skin
[submodule ".local/share/dircolors/dircolors-solarized"]
	path = .local/share/dircolors/dircolors-solarized
	url = https://github.com/seebi/dircolors-solarized
[submodule ".config/awesome/themes/awesome-solarized"]
	path = .config/awesome/themes/awesome-solarized
	url = https://github.com/ngg/awesome-solarized
[submodule ".fonts/powerline"]
	path = .fonts/powerline
	url = https://github.com/powerline/fonts
[submodule ".local/share/zgen"]
	path = .local/share/zgen
	url = https://github.com/ngg/zgen
[submodule ".local/share/vim-plug"]
	path = .local/share/vim-plug
	url = https://github.com/junegunn/vim-plug
[submodule ".local/share/pwndbg"]
	path = .local/share/pwndbg
	url = https://github.com/pwndbg/pwndbg
