[user]
	name = Gergely Nagy
	useConfigOnly = true
[alias]
	graph = log --graph --oneline --decorate
	k = !gitk --date-order
	su = submodule update --init --recursive
	st = status
	ci = commit
	co = checkout
	b = branch
	ignored = !git ls-files -v | grep "^[a-z]"
	ignore = update-index --assume-unchanged
	unignore = update-index --no-assume-unchanged
	dd = difftool -d
	mtg = mergetool --tool=bc4
	find-merge = "!sh -c 'commit=$0 && branch=${1:-HEAD} && (git rev-list $commit..$branch --ancestry-path | cat -n; git rev-list $commit..$branch --first-parent | cat -n) | sort -k2 | uniq -f1 -d | sort -n | tail -1 | cut -f2'"
	show-merge = "!sh -c 'merge=$(git find-merge $0 $1) && [ -n \"$merge\" ] && git show $merge'"
[core]
	autocrlf = input
	editor = vim
[push]
	default = simple
[pull]
	rebase = preserve
[branch]
	autosetuprebase = always
[credential]
	helper = store

[diff]
	tool = vimdiff
	guitool = bc4
	algorithm = histogram
	renameLimit = 100000
[difftool]
	prompt = false
[difftool "bc4"]
	cmd = bcompare \"$LOCAL\" \"$REMOTE\"
[difftool "vimdiff"]
	cmd = vimdiff \"$LOCAL\" \"$REMOTE\"

[merge]
	tool = vimdiff
	guitool = bc4
	conflictstyle = diff3
[mergetool]
	prompt = false
	keepBackup = false
	trustExitCode = true
[mergetool "bc4"]
	cmd = bcompare \"$LOCAL\" \"$REMOTE\" \"$BASE\" \"$MERGED\"
[fetch]
	prune = true
[tag]
	sort = version:refname
[rebase]
	autostash = true
[web]
	browser = xdg-open
[instaweb]
	local = true
[http]
	cookiefile = /home/ngglocal/.gitcookies
