[submodule ".local/share/mc/mc-solarized-skin"]
	path = .local/share/mc/mc-solarized-skin
	url = https://github.com/iwfmp/mc-solarized-skin
[submodule ".local/share/dircolors/dircolors-solarized"]
	path = .local/share/dircolors/dircolors-solarized
	url = https://github.com/seebi/dircolors-solarized
[submodule ".config/awesome/themes/awesome-solarized"]
	path = .config/awesome/themes/awesome-solarized
	url = https://github.com/cycojesus/awesome-solarized
[submodule ".vim/bundle/Vundle.vim"]
	path = .vim/bundle/Vundle.vim
	url = https://github.com/gmarik/Vundle.vim
[submodule ".fonts/powerline"]
	path = .fonts/powerline
	url = https://github.com/powerline/fonts
[submodule ".local/share/peda"]
	path = .local/share/peda
	url = https://github.com/zachriggle/peda.git
[submodule ".oh-my-zsh"]
	path = .oh-my-zsh
	url = https://github.com/robbyrussell/oh-my-zsh.git
