! Solarized color scheme for the X Window System
!
! http://ethanschoonover.com/solarized


! Common

#define S_yellow        #b58900
#define S_orange        #cb4b16
#define S_red           #dc322f
#define S_magenta       #d33682
#define S_violet        #6c71c4
#define S_blue          #268bd2
#define S_cyan          #2aa198
#define S_green         #859900


! Dark

#define S_base03        #002b36
#define S_base02        #073642
#define S_base01        #586e75
#define S_base00        #657b83
#define S_base0         #839496
#define S_base1         #93a1a1
#define S_base2         #eee8d5
#define S_base3         #fdf6e3


! Light

! #define S_base03        #fdf6e3
! #define S_base02        #eee8d5
! #define S_base01        #93a1a1
! #define S_base00        #839496
! #define S_base0         #657b83
! #define S_base1         #586e75
! #define S_base2         #073642
! #define S_base3         #002b36


! To only apply colors to your terminal, for example, prefix
! the color assignment statement with its name. Example:
!
! URxvt*background:            S_base03

*background:              S_base03
*foreground:              S_base0
*fading:                  40
*fadeColor:               S_base03
*cursorColor:             S_base1
*pointerColorBackground:  S_base01
*pointerColorForeground:  S_base1

*color0:                  S_base02
*color1:                  S_red
*color2:                  S_green
*color3:                  S_yellow
*color4:                  S_blue
*color5:                  S_magenta
*color6:                  S_cyan
*color7:                  S_base2
*color8:                  S_base03
*color9:                  S_orange
*color10:                 S_base01
*color11:                 S_base00
*color12:                 S_base0
*color13:                 S_violet
*color14:                 S_base1
*color15:                 S_base3

!URxvt*termName: rxvt-unicode
URxvt*loginShell: true
!URxvt*scrollColor: #777777
URxvt*scrollstyle: plain
URxvt*scrollTtyKeypress: true
URxvt*scrollTtyOutput: false
URxvt*scrollWithBuffer: false
URxvt*secondaryScreen: true
URxvt*secondaryScroll: true
URxvt*secondaryWheel: true
URxvt*skipScroll: true
URxvt*scrollBar: false
URxvt*scrollBar_right: false
URxvt*scrollBar_floating: false
!URxvt*fading: 20
URxvt*utmpInhibit: false
URxvt*urgentOnBell: false
URxvt*visualBell: true
URxvt*mapAlert: true
URxvt*mouseWheelScrollPage: false
URxvt*depth: 32
!URxvt*transparent: true
!URxvt*shading: 60
!URxvt*background: Black
!URxvt*foreground: White
!URxvt*colorUL: yellow
!URxvt*underlineColor: yellow

URxvt*letterSpace: -1
URxvt*font: xft:Source Code Pro for Powerline:style=Regular:pixelsize=13:antialias=true:hinting=true,xft:Symbola:pixelsize=13:antialias=true:hinting=true
URxvt*boldFont: xft:Source Code Pro for Powerline:style=SemiBold:pixelsize=13:antialias=true:hinting=true,xft:Symbola:pixelsize=13:antialias=true:hinting=true

!URxvt*font: xft:Terminess Powerline:pixelsize=14
!URxvt*boldFont: xft:Terminess Powerline:bold:pixelsize=14

URxvt*saveLines: 0
URxvt*buffered: true
URxvt*hold: false
URxvt*internalBorder:
URxvt*print-pipe: cat > $HOME/$(echo urxvt.dump.$(date +'%Y%M%d%H%m%S'))
URxvt*perl-ext-common:
URxvt*perl-ext:

Xft.dpi:                    96
Xft.antialias:              true
Xft.rgba:                   rgb
Xft.autohint:               false
Xft.hinting:                true
Xft.hintstyle:              hintfull
Xft.lcdfilter:              lcddefault

URxvt.transparent:          false
URxvt.fading:               0
URxvt.cursorColor:          #657b83
URxvt.cursorUnderline:      false
URxvt.pointerBlank:         true
URxvt.intensityStyles: false

xscreensaver.lock: true

rofi.font:				Source Code Pro for Powerline 11
rofi.matching:			normal
rofi.terminal:			urxvtc
rofi.separator-style:	solid
! State:           ´bg´,     ´fg´,     ´bgalt´,  ´hlbg´,   ´hlfg´
rofi.color-normal: #002b36,  #93a1a1,  #002b36,  #073642,  #eee8d5
rofi.color-urgent: #002b36,  #dc322f,  #002b36,  #073642,  #eee8d5
rofi.color-active: #002b36,  #859900,  #002b36,  #073642,  #eee8d5
!                  ´bg´,     ´border´, ´separator´
rofi.color-window: #002b36,  #073642,  #268bd2
